TafeEnrolment/BusinessLayer/bin/Debug/
TafeEnrolment/BusinessLayer/obj/Debug/

TafeEnrolment/DataLinkLayer/bin/Debug/
TafeEnrolment/DataLinkLayer/obj/Debug/

TafeEnrolment/ModelLayer/bin/Debug/
TafeEnrolment/ModelLayer/obj/Debug/

TafeEnrolment/UI/bin/Debug/
TafeEnrolment/UI/obj/Debug/
